/* Temporary Code: Delete below */
.form-status {
    color: hsl(0, 98%, 23%);
    text-transform: uppercase;
    text-shadow: 1px 1px 1px var(--shadow-color);
}
/* Temporary Code: Delete above */

*:focus {
    outline: 2px solid orange;
    border-radius: 5px;
    padding: 0.5rem;    
}

*, html, body {
    margin: 0;
	padding: 0;
	font-size: 100%;
    box-sizing: border-box;
    font-family: "Montserrat",  sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Orbitron", sans-serif;
}

a {
    text-decoration: none;
    color: var(--link-font-color);
    text-transform: uppercase;
}

a:hover {
    color: var(--white-font-color);
}

button {
    border: 1px outset var(--black-font-color);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px var(--shadow-color);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

/* Navigation - visuals to show where to access the navigation menu. */

#hamburger-container {
    position: fixed;
    bottom: var(--circle-location);
    left: var(--circle-location);
	width: var(--circle-size);
	height: var(--circle-size);
	background-color: var(--accent-color);
    border-radius: 50%;
    z-index: var(--top-layer);
    box-shadow: 2px 2px 5px 0px var(--shadow-color);
    cursor: pointer;
}

#hamburger-line-container {
    position: absolute;
    bottom: var(--hamburger-line-location);
    left: var(--hamburger-line-location);
}

.hamburger-lines {
	display: block;
	background-color: var(--black-font-color);
	width: 1.3rem;
	height: 4px;
	margin: 0.2rem 0;
    border-radius: 2px;

}

#hamburger-line-1, #hamburger-line-2, #hamburger-line-3 {
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

#hamburger-line-1.show-menu {
    transform: rotate(45deg);
    transform-origin: left;
}

#hamburger-line-2.show-menu {
    opacity: 0;
}

#hamburger-line-3.show-menu {
    transform: rotate(-45deg);
    transform-origin: left;
}

.header-container {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Navigation - The navigation items that are hidden behind the main content. They are revealed when the hamburger button is clicked. */

.menu-items, .social-media-items {
    position: fixed;
    opacity: 0;
    transition: all var(--transition-speed-menu) ease-in-out;
    letter-spacing: 0.1rem;
    z-index: var(--lower-layer);
}

.menu-items a, .social-media-items a {
    color: var(--white-font-color);
}

.menu-items {
    bottom: -10em;
    left: 1em;
}

.social-media-items {
    bottom: 6em;
    right: -10em;
    text-align: right;
}

.menu-items li, .social-media-items li {
    list-style-type: none;
    margin-top: 2.5em;
}

.menu-items.show-menu {
    opacity: 1;
    bottom: 6em;
}

.social-media-items.show-menu {
    opacity: 1;
    right: 1em;
}

.social-media-items li:first-of-type {
    margin-top: 1em;
}

.social-media-icons {
    display: none;
}

.nav-menu a {
    transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
    color: var(--accent-color);
}

/* Main Content */

#body-container {
	background-color: var(--nav-menu-bg);
}

.main-container {
    background: var(--main-content-bg);
    min-width: 100%;
    min-height: 100%;
    z-index: var(--middle-layer);
    transform: rotate(0deg) translateX(0) translateY(0);
    transform-origin: bottom left;
    transition: all var(--transition-speed-menu) ease-in-out;
    color: var(--black-font-color);
}

.main-container.show-menu {
    transform: rotate(-90deg) translateX(-20em) translateY(-20em);
    border-radius: 10px;
}

#intro {
    background: var(--nav-menu-bg);
    padding: 2rem 2rem;
    margin-bottom: 4rem;
    text-align: center;
    color: var(--white-font-color);
    position: relative;
}

#welcome-title {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

#introduction {
    font-size: 1rem;
    padding: 0.8rem;
    line-height: 2rem;
    text-align: center;
}

#interests {
    display: inline-block;
    position: relative;
}

#hobbies {
    color: var(--accent-color);
}

#hobby-images {
    position: absolute;
    bottom: 5px;
    margin-left: 0.3rem;
    max-height: 80%;
}

#introduction p > span {
    color: var(--accent-color);
}

.section-title {
    color: var(--black-font-color);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    margin: auto;
    width: 75%;
    text-shadow: 1px 1px 1px var(--shadow-color);
    border-bottom: 3px ridge var(--accent-color);
}

/* Projects Section */


/* Resume Section */
.subtitle {
    display: none;
}

/* Contact Section */

/* Contact Social Media */

#social-media-contact-section {
    font-size: 1.2rem;
    margin: 1rem 0;
}

#social-media-contact-section li {
    list-style-type: none;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
}

#social-media-contact-section a:hover {
    color: var(--white-font-color);
}

/* Contact Form */

#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#contact-info p {
    margin: 0 2rem 2rem 2rem;
    width: 70%;
    line-height: 1.7rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form {
    width: 80%;
}

.contact-form p {
    font-size: 0.8rem;
    padding-bottom: 1rem;
    margin: 0 1rem;
}

.contact-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contact-field input, .contact-field textarea {
    border: 1px solid var(--nav-menu-bg-alpha);
    border-radius: 5px;
    width: 100%;
    height: 3rem;
    margin: 0.2rem 0 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px 0px var(--shadow-color);
}

.contact-field label {
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    align-self: flex-start;
}

#message {
    height: 8rem;
}

#contact-send-btn {
    width: 40%;
    height: 3rem;
    margin: 1rem auto;
    background: var(--accent-color);
    color: var(--black-font-color);
    font-weight: 700;
}

#contact-send-btn:active {
    border: 1px inset var(--black-font-color);
}

textarea {
    resize: vertical;
}

#social-media-contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 3rem;
    text-align: center;
}

#social-media-contact-section a {
    padding: 1rem;
}

/* Footer Section */

#footer-section {
    margin-top: 4rem;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.8rem;
    border-top: 2px ridge var(--accent-color);
    background-color: var(--nav-menu-bg-alpha);
    color: var(--white-font-color);
}

#footer-section i {
    font-size: 0.65rem;
}

#icon8 {
    margin-top: 0.4rem;
}

#icon8 a {
    color: var(--accent-color);
}