/* Temporary Code: Delete below */
h3 {
    text-align: center;
    margin: 2rem;
}
/* Temporary Code: Delete above */

*, html, body {
    margin: 0;
	padding: 0;
	font-size: 100%;
    box-sizing: border-box;
    font-family: "Montserrat",  sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Orbitron", sans-serif;
}

a {
    text-decoration: none;
    color: var(--white-font-color);
    text-transform: uppercase;
}

/* Navigation - Mobile - visuals to show where to access the navigation menu. */

#hamburger-container {
    position: fixed;
    bottom: var(--circle-location);
    left: var(--circle-location);
	width: var(--circle-size);
	height: var(--circle-size);
	background-color: var(--accent-color);
    border-radius: 50%;
    z-index: var(--top-layer);
    box-shadow: 2px 2px 5px 0px var(--shadow-color);
    cursor: pointer;
}

#hamburger-line-container {
    position: absolute;
    bottom: var(--hamburger-line-location);
    left: var(--hamburger-line-location);
}

.hamburger-lines {
	display: block;
	background-color: var(--black-font-color);
	width: 1.3rem;
	height: 4px;
	margin: 0.2rem 0;
    border-radius: 2px;

}

#hamburger-line-1, #hamburger-line-2, #hamburger-line-3 {
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

#hamburger-line-1.show-menu {
    transform: rotate(45deg);
    transform-origin: left;
}

#hamburger-line-2.show-menu {
    opacity: 0;
}

#hamburger-line-3.show-menu {
    transform: rotate(-45deg);
    transform-origin: left;
}

.header-container {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Navigation - Mobile - The navigation items that are hidden behind the main content. They are revealed when the hamburger button is clicked. */

.menu-items, .social-media-items {
    position: fixed;
    opacity: 0;
    transition: all var(--transition-speed-menu) ease-in-out;
    letter-spacing: 0.1rem;
    z-index: var(--lower-layer);
}

.menu-items {
    bottom: -10em;
    left: 1em;

}

.social-media-items {
    bottom: 6em;
    right: -10em;
    text-align: right;
}

.menu-items li, .social-media-items li {
    list-style-type: none;
    margin-top: 2.5em;
}

.menu-items.show-menu {
    opacity: 1;
    bottom: 6em;
}

.social-media-items.show-menu {
    opacity: 1;
    right: 1em;
}

.social-media-items li:first-of-type {
    margin-top: 1em;
}

.social-media-icons {
    display: none;
}

/* Main Content */

#body-container {
	background-color: var(--nav-menu-bg);
}

.main-container {
    background: var(--main-content-bg);
    width: 100%;
    min-height: 100vh;
    z-index: var(--middle-layer);
    transform: rotate(0deg) translateX(0) translateY(0);
    transform-origin: bottom left;
    transition: all var(--transition-speed-menu) ease-in-out;
    color: var(--white-font-color);
}

.main-container.show-menu {
    transform: rotate(-90deg) translateX(-20em) translateY(-20em);
    border-radius: 10px;
}

#intro {
    background: var(--white-font-color);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 95%);
    padding: 3rem 2rem;
    margin-bottom: 4rem;
    text-align: center;
    color: var(--black-font-color);
}

#intro h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

#intro p {
    font-size: 1rem;
    padding: 0.8rem;
    line-height: 1.5rem;
}

#projects-btn {
    font-weight: 700;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: 1px outset var(--white-font-color);
    border-radius: 15px;
    background: var(--accent-color);
    color: var(--white-font-color);
    letter-spacing: 0.1rem;
    box-shadow: 2px 2px 5px 0px var(--shadow-color);
    cursor: pointer;
}

#projects-btn:active {
    border: 1px inset var(--white-font-color);
}

.section-title {
    color: var(--white-font-color);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    margin: auto;
    width: 75%;
    border-bottom: 2px solid var(--white-font-color);
}

/* Projects Section */



/* Contact Section */

/* Contact Social Media */

#social-media-contact-section {
    font-size: 1.2rem;
    margin: 1rem 0;
}

#social-media-contact-section li {
    list-style-type: none;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
}

/* Contact Form */

#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form {
    width: 80%;
}

.contact-form p {
    font-size: 0.8rem;
    padding-bottom: 1rem;
    margin: 0 1rem;
}

.contact-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-field input, .contact-field textarea {
    border: 1px solid var(--nav-menu-bg-alpha);
    border-radius: 5px;
    width: 100%;
    height: 2rem;
    margin: 0.2rem 0 1rem;
    width: 100%;
    box-shadow: 2px 2px 5px 0px var(--shadow-color);
}

.contact-field label {
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

#message {
    height: 5rem;
    padding: 1rem;
}

#contact-send-btn {
    width: 40%;
    height: 3rem;
    margin: auto;
    background: var(--accent-color);
    color: var(--white-font-color);
    font-weight: 700;
    border: 1px outset var(--white-font-color);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px var(--shadow-color);
    cursor: pointer;
}

#contact-send-btn:active {
    border: 1px inset var(--white-font-color);
}


/* Footer Section */

#footer-section {
    padding: 3rem 0 5rem 0;
    text-align: center;
    font-size: 0.8rem;
    
}

#footer-section i {
    font-size: 0.65rem;
}